.container {
    margin-top: 50px;
    text-align: center;
    list-style: none;
    max-width: 100%;
}
.list-center {
    text-align: center;
    color: gray;
}
.block {
    display: block;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
